@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1 class="label-primary">My First Bootstrap Page</h1>
    <p><kbd>ctrl+s</kbd> is an absolute must when editing <code>HTML</code></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Layout</h3>
            <p>The page uses a jumbotron for it's header and 3 4-column width divs in a row</p>
        </div>
        <div class="col-sm-4">
            <h3>Resize</h3>
            <mark>elements resize up to a minimum size then reflow to fit a smaller format</mark>
        </div>
        <div class="col-sm-4">

                <h3 >Classes</h3>

            <p class="bg-danger">As above the classes help define a width for elements. Bootstrap uses a 12 column layout to place elements within</p>
        </div>
    </div>
</div>



